@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: beige;
}

header {
    background-color: rgb(253, 253, 208);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burger {
    background-color: rgb(202, 132, 82);
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(250, 250, 183);
    color: brown;
    text-align: center;
    border: 1px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(204, 148, 109);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}