@charset "UTF-8";

* { /* Configurações Globais */
    font-family: Arial, Helvetica, sans-serif;
}

/*  #3F5957 #587364 #D9D7BA #D9B88F #BF8665  */

main {
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(191, 134, 101, 0.600) ;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
}

body {
    background-image: linear-gradient(to bottom, rgb(217, 215, 186), rgb(217, 184, 143));
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgb(70, 59, 44);
    color: rgb(191, 134, 101);
}

h2 {
    color: rgb(88, 115, 100);
}

p {
    text-align: justify;
}
